snippet t "tag"
<${1:tag}>
  ${0:${VISUAL}}
</${1/(\w+).*/$1/}>
endsnippet

snippet c "class"
class='$1'$0
endsnippet

snippet i "id"
id='$1'$0
endsnippet

snippet div "div"
<div$1>
  $0
</div>
endsnippet

snippet a "a"
<a href='$1'>$0</a>
endsnippet
