snippet ipdb "debug" b
import ipdb; ipdb.set_trace()
endsnippet

snippet def "small function" b
def ${1:function_name}(${2:arguments}):
	${0:pass}
endsnippet

snippet cl "small class" b
class ${1:ClassName}(${2:Parent}):
	${0:pass}
endsnippet
