[user]
	name = Alligatortower
	email = mrweed@gmail.com

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[alias]
    # removes local branches that don't exist on remote
    prune = fetch --prune
    # returns things to how they were before the last commit
    undo = reset --soft HEAD^
    # stashes untracked files as well
    stash-all = stash save --include-untracked
    # better log
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[mergetool]
	path = nvim
[http]
	postBuffer = 157286400
